app-mongo-data
app-mongo-data/
vars.yml
vault.yml
.vagrant/
.vscode/
.vscode
.vscode/*
.vscode/*.json
**/.terraform/
*.tfstate.backup
app-mongo-data
app-mongo-data/
vars.yml
vault.yml
.vagrant/
.vscode/
.vscode
.vscode/*
.vscode/*.json
**/.terraform/
*.tfstate.backup
*.tfstate
.terraform.lock.hcl
*.pem